body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1b244a;
    width: 500px;
    height: 300px;
    text-align: center;
    
}

